<div>

  <nb-card>
    <nb-card-body>This is the approval page for EasyBiz model reviewer. Just click on a specific process to get to its details page.</nb-card-body>
  </nb-card>

  <h2>List of process models: </h2>
  <nb-card>

    <!--
    <ul *ngFor="let process of processes" style="list-style:none; font-weight:bold">
      <li>Process: <a href="javascript:;" (click)="loadDetails(process.processId)">{{process.processName}}</a></li>
      <li><ul style="list-style:none"><li>{{process.processDescription}}</li>
        <li>{{process.processCreator}}</li></ul></li>
    </ul>
    -->

    <ng2-smart-table [settings]="settings" [source]="data" (userRowSelect)="onUserRowSelect($event)"></ng2-smart-table>

  </nb-card>

</div>
