<div class="row">
<div class="col-md-12">
  <h2>Dashboard</h2>
  <div class="col-12">
    <nb-card>
      <nb-card-body>
        <div class="btn-group btn-group-toggle btn-divided-group btn-outline-divided-group btn-group-full-width col-md-12">
          <button class="btn btn-outline-primary" routerLink="/createProcess">Create Process</button>
          <button class="btn btn-outline-primary" routerLink="/processstore-search">Process Store</button>
          <button class="btn btn-outline-primary" onclick="window.location.port=4000">Process Designer</button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

      <div class="tabs-table">
        <nb-card class="col-md-12">

          <div *ngIf="isUser; else org_emp">
            <nb-route-tabset [tabs]="tabs" fullWidth></nb-route-tabset>
          </div>

          <ng-template #org_emp>
            <nb-route-tabset [tabs]="tabsApprover" fullWidth></nb-route-tabset>
          </ng-template>


        </nb-card>
      </div>

  <!--
  <nb-card class="col-md-12" accent="primary">
    <nb-badge text="new" status="success" position="top right"></nb-badge>
      <nb-card-header>News</nb-card-header>
      <nb-card-body>
        <table class="col-md-12" >
          <tr>
            <td colspan="3"><h5>Most frequently purchased</h5></td>
            <td colspan="3"><h5>Best ratings</h5></td>
          </tr>
          <tr>
            <td width="7rem">
              <i class='nb-heart' style='font-size:72px;'></i>
            </td>
            <td>
              <a [routerLink]="['/processstore-details/'+favoriteProcess.processId]">{{favoriteProcess.processName}}</a>
            </td>
            <td></td>
            <td width="7rem">
              <i class='nb-arrow-dropup' style='font-size:72px;color:#42db7d' ></i>
            </td>
            <td align="left">
              <a [routerLink]="['/processstore-details/'+bestRatedProcess.processId]">{{bestRatedProcess.processName}}</a>
            </td>
            <td></td>
          </tr>
        </table>
      </nb-card-body>
  </nb-card>
-->
</div>
</div>
