<div>

  <br>
  <div class="title-process-details"><h2>Selected process details </h2></div>
  <nb-card>
    <table>
      <tr>
        <th>Process Name:</th>
        <th>Description:</th>
        <th>Creator:</th>
        <th>Created at:</th>
        <th>Process ID:</th>
        <th>Version:</th>
        <th>Is Approved:</th>
      </tr>

      <tr>
        <td>{{process?.processName}}</td>
        <td>{{process?.processDescription}}</td>
        <td>{{process?.processCreator}}</td>
        <td>{{process?.processCreatedAt | date:'dd-MM-yyyy'}}</td>
        <td>{{process?.processId}}</td>
        <td>{{process?.processVersion}}</td>
        <td>{{process?.processApproved}}</td>
      </tr>
    </table>
  </nb-card>


  <!--
  <h2>Review comments: </h2>
  <nb-card>
    <table>
      <tr>
        <th>Comment:</th>
        <th>User:</th>
        <th>Created at:</th>
        <th>Process ID:</th>
      </tr>

      <tr *ngFor="let review of processReviews">
        <td>{{review?.comment}}</td>
        <td>{{review?.uploader}}</td>
        <td>{{review?.created_at | date :'short'}}</td>
        <td>{{review?.process_id}}</td>
        <td>{{review?.processApproverComment}}</td>
      </tr>
    </table>
  </nb-card>
  -->


  <nb-card>
    <nb-card-header>Reviewer Comment</nb-card-header>
      <nb-card-body>
        <form (ngSubmit)="postComment()" #form="ngForm">
          <div class="form-group">
            <input name="processApproverComment" [(ngModel)]="alteredProcess.processApproverComment" id="input-comment"
                   #processApproverComment="ngModel" class="form-control" placeholder="Comment here">
          </div>
          <div class="col-md-12 text-right">
            <button class="btn btn-info col-md-3">Post comment</button>
          </div>
        </form>
      </nb-card-body>
  </nb-card>
    <div class="text-center col-md-12">
      <button (click)="approveStoreProcess()" class="btn btn-success col-md-3 approve-button">Approve process model</button>
      <button (click)="unapproveStoreProcess()" class="btn btn-danger col-md-3">Deny process model</button>
    </div>
    <div class="text-center col-md-12">
      <button routerLink="/approval" class="btn btn-secondary col-md-3 cancel-button">Cancel</button>
    </div>


</div>
