.modelGraphic {
  height: 80vh;
  width: 100%;
  /*margin:5px;*/
}

th, td {
  padding: 15px;
}

p {
  padding: 5px;
}

.cancel-button {
  margin-top: 15px;
}

.approve-button {
  margin-right: 15px;
}

.title-process-details {
  margin-bottom: 15px;
}
