@import '../../../../@theme/styles/themes';
@import '~@nebular/theme/styles/global/bootstrap/hero-buttons';


.row {
  width: 100%;
}

h5 {
  color: #46bca3;
  margin-left: 2rem;
  margin-top: 1rem;
}

table {
  margin-left: 2rem;
  margin-top: 1rem;
  margin-right: 2rem;
}

