:host /deep/ {
    .btn-divided-group {
        > label.btn:not(:first-child) {
            margin-left: 0;
        }
    }
    .price {
        font-size: 2rem;
    }
    i.iconVertical {
        vertical-align: middle;
    }
}
