<div class="row" style="margin-top:50px; margin-left: 35px">
  <toaster-container [toasterconfig]="config"></toaster-container>
  <div *ngIf='this.inOrganization === false'>
    <h1>You are currently not a member of an organization.</h1>
    <button *ngIf="this.inOrganization === false" class='btn btn-primary btn-sm' (click)="openCreateOrganization()">Create new organization</button>
    <button *ngIf='this.canCreateOrg' class='btn btn-primary btn-sm' (click)='openCreateOrganization()'>Create new Organization</button>
  </div>
  <div *ngIf='this.inOrganization'>
    <button class='btn btn-primary btn-sm' (click)='changeOrganization()'>Edit Organization</button>
    <h1>Your Organization: {{organizationName}}</h1>
    <h4>Description: {{organizationDescription}}</h4>

  </div>

</div>




