<div class='row'>
  <toaster-container [toasterconfig]='config'></toaster-container>
</div>
<div *ngIf='this.inOrganization === false'>
  <h5>You are currently not a member of an organization.</h5>
  <button *ngIf='this.canCreateOrg' class='btn btn-primary btn-sm' (click)='openCreateOrganization()'>Create
    new Organization
  </button>
</div>

<div *ngIf='this.inOrganization'>
  <button *ngIf='this.canEditOrg' class='btn btn-primary btn-sm' (click)='changeOrganization()'>Change
    Organization
  </button>
  <br/><br>
  <h1>Your Organization: {{organizationName}}</h1>
  <h4>Description: </h4>
  <p>{{organizationDescription}}</p>
</div>
