<div class="row" style="margin-top:50px; margin-left: 35px">
  <toaster-container [toasterconfig]="config"></toaster-container>
  <h1>ALL USERS</h1><button *ngIf='this.inOrganization' (click)="openAddUserToOrgPopup()" class='btn btn-primary btn-sm'><i class="fa fa-plus"></i> Add User</button>
</div>
<div class="user-list">
  <table class="table table-striped" style="width: 95%">
    <thead>
      <tr>
        <th>Organization</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>E-Mail</th>
        <th>Process-Roles</th>
        <th>GUI-Roles</th>
        <th>Add/edit role</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.organization}}</td>
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.email}}</td>
        <td><a *ngFor="let role of user.roles"><a *ngIf="role.subjectRole">{{role.name}}    </a></a></td>
        <td><a *ngFor="let role of user.roles"><a *ngIf="!role.subjectRole">{{role.name}}    </a></a></td>
        <td><button *ngIf='this.inOrganization' (click)="openAddRoleToUserPopup(user.uid)" class='btn btn-primary btn-sm'><i class="fa fa-plus"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>
