<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-body>
        <h1>Welcome {{user?.sub}}<span *ngIf="!authenticated">Guest</span>!</h1>
    </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row" *ngIf="!authenticated">
  <div class="col-12">
    <nb-card>
      <nb-card-body style="padding-top: 5%">
        <img src="../../../../assets/easybizlogo.png" width="100%" height="100%">
      </nb-card-body>
      <nb-card-body style="text-align: center; padding-top: 5%; padding-bottom: 5%">
        <h3>This WebPortal allows you to create, share and utilize Business Processes. Have fun!</h3>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row" *nbIsGranted="['view', 'home']">
  <div class="col-6">
    <div>
      <img src="../../../../assets/easybizlogo.png" width="50%" style="margin-top:10%">
    </div>
    <!--    <nb-card>
          <nb-card-header>most popular processes</nb-card-header>
          <nb-card-body>
            <button *ngFor="let process of processesByRating; let i=index" class="btn btn-outline-primary btn-block" type="button" (click)="showDetails(process.processId)">{{process.processName}} | ({{ratings[i].averageRating.toFixed(2)}})</button>
          </nb-card-body>
        </nb-card>-->
  </div>
  <div class="col-6">
    <nb-card>
      <nb-card-header>My latest processes</nb-card-header>
      <nb-card-body>
        <button *ngFor="let process of processesByDate" class="btn btn-outline-primary btn-block" type="button" (click)="showDetails(process.processId)">{{process.processName}}</button>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-12">
    <nb-card>
      <nb-card-body>


        <div class="btn-group btn-group-toggle btn-divided-group btn-outline-divided-group btn-group-full-width col-md-12">
          <button class="btn btn-outline-primary" routerLink="/dashboard">Dashboard</button>
          <button class="btn btn-outline-primary" routerLink="/processstore-search">Process Store</button>
          <button class="btn btn-outline-primary" onclick="window.location.port=4000">Process Designer</button>
        </div>


      </nb-card-body>
    </nb-card>
  </div>
</div>
