
<div class="row">
   <nb-card>
      <nb-card-body *ngIf="!activeProcesses || activeProcesses.length < 1">Es gibt keine aktiven Prozesse!</nb-card-body>
      <table class="table table-striped" *ngIf="activeProcesses && activeProcesses.length > 0">
         <thead>
            <tr>
               <th>#</th>
               <th>Prozessname</th>
               <th>Startzeit</th>
               <th>Aktion</th>
            </tr>
         </thead>
         <tbody>
            <tr *ngFor="let process of activeProcesses">
               <td>{{ process.piId }}</td>
               <td>{{ process.processName }}</td>
               <td>{{ process.startTime |  date:'dd.MM.yyyy HH:mm:ss'}}</td>
               <td>
                 <!-- <button class="btn btn-primary btn-sm" (click)="showProcess(process.piId)">Anzeigen</button> -->
                 <button class="btn btn-primary btn-sm" (click)="stopProcess(process.piId)">Stoppen</button>
               </td>
            </tr>
         </tbody>
      </table>
   </nb-card>
 </div>
