<div class="row">
  <div class="col-md-12">

    <nb-card>
      <nb-card-header><h2>Create a new process</h2></nb-card-header>
    <nb-card-body>
     <h3>Process details</h3>
      <form (ngSubmit)="createProcess()" #form="ngForm" >
      <div class="form-group">
        <label for="input-processname" class="sr-only">Process name</label>
        <input name="processname" [(ngModel)]="process.processName" id="input-processname" #processname="ngModel"
               class="form-control inputfields" placeholder="Process name"
               autofocus
               [required]="true">
      </div>
      <div class="form-group">
        <label for="input-processdecription" class="sr-only">Process description</label>
        <input name="processdescription" [(ngModel)]="process.processDescription" id="input-processdecription" #processdescription="ngModel"
               class="form-control inputfields" placeholder="Process description"
               autofocus
               [required]="true">
      </div>
      <div class="form-group">
        <label for="input-processprice" class="sr-only">Process price</label>
        <input name="processprice" [(ngModel)]="process.processPrice" id="input-processprice" #processprice="ngModel"
               class="form-control inputfields" placeholder="Process price" ng-pattern="integerval" type="number"
               autofocus
               [required]="true">
      </div>
        <label class="control-label">Standard-Pass-Ont Version: </label><br />
        <label class="radio-inline"><input name="version" type="radio" [value]="2"  [(ngModel)]="process.processVersion"> 0.7.2</label>
        <label class="radio-inline"><input name="version" type="radio" [value]="5"  [(ngModel)]="process.processVersion"> 0.7.5</label>
        <label class="radio-inline"><input name="version" type="radio" [value]="0"  [(ngModel)]="process.processVersion"> 0.8.0</label>
        <form #owlModelForm="ngForm" enctype="multipart/form-data">
          <label class="control-label">OWL-File: </label>
            <input type="file" name="fileUpload" id="fileUpload" class="form-control inputfields" accept=".owl," (change)="onFileChange($event)">
          <br>
        </form>

        <h3>Process Approver</h3>
        <div class="form-group">
          <select class="form-control inputfields" (change)="selectedApprover($event.target.value)">
            <option>Please select an approver</option>
            <option name="processApprover" id="input-processApprover" *ngFor="let user of usersFromOrganization" [value]="user.uid" >
              {{user.email}}
            </option>
          </select>
        </div>

      <button [disabled]="(!owlFile || !form.valid || !process.processApprover)" class="btn btn-block btn-hero-success inputfields" ng-click="createProcess()">
        Create new process
      </button>
      </form>
    </nb-card-body>
    </nb-card >

  </div>
</div>
